---
const { href } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
const pathname = Astro.url.pathname.replace(baseUrl, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<li>
  <a
    href={`${baseUrl}${ href }`}
    class:list={[
      "block",
      "py-2",
      "px-3",
      "rounded-sm",
      "md:p-0",
      "font-bold",
      {
        "text-white bg-primary-700 md:bg-transparent md:text-primary-500":
          isActive,

        "text-gray-900 md:border-0 hover:text-primary-500": !isActive,
      },
    ]}
    aria-current={isActive ? "page" : undefined}
  >
    <slot />
  </a>
</li>
