---
import TagChip from "./TagChip.astro";
import PostDate from "./PostDate.astro";
import type { CollectionEntry } from "astro:content";
import ReadTime from "./ReadTime.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, date, tags } = post.data;
const baserUrl = import.meta.env.BASE_URL;
---


  <li class="mb-2">
    <a href={`${baserUrl}/${post.id}`} class="ml-2 text-xl hover:text-primary-500 hover:underline">{title}</a>
  </li>
