---
interface Props {
  tag: string;
  href: string;
}
const { tag } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<a
  href={`${baseUrl}/tags/${tag}`}
  class="bg-gray-100 rounded hover:bg-primary-500 hover:text-gray-100 text-sm font-medium me-2 px-2.5 py-0.5"
>
  #{tag}
</a>
